.cafe-sidebar {
    width: 300px;
    height: 120vh;
    overflow-y: auto;
    background-color: #f9f9f9; 
    border-right: 1px solid #ddd; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    padding: 1rem;
  }
  
  .cafe-sidebar::-webkit-scrollbar {
    width: 8px;
  }
  
  .cafe-sidebar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  .cafe-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }